/* line 1, ../sass/app.sass */
.treetable {
  padding-top: 20px;
}
/* line 4, ../sass/app.sass */
.treetable a {
  cursor: pointer;
}
/* line 7, ../sass/app.sass */
.treetable .tree-branch.root {
  padding-left: 0;
}
/* line 9, ../sass/app.sass */
.treetable .tree-node {
  list-style-type: none;
  background: none;
}
/* line 10, ../sass/app.sass */
.treetable .tree-node.root {
  padding: 0;
}
/* line 14, ../sass/app.sass */
.treetable .tree-node .checkbox {
  margin-top: 0;
  margin-right: 3px;
  margin-bottom: 0;
  margin-left: 0;
}
/* line 20, ../sass/app.sass */
.treetable .toggle-expand {
  font-size: 12px;
  opacity: 0.8;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
/* line 26, ../sass/app.sass */
.treetable .children-are-invisible ul {
  display: none;
}
